.Rproj.user
.Rhistory
.RData
.Ruserdata
.cache
.claude
.posit
.DS_Store
*.gz
automerge.Rcheck/
src/Makevars
compile_commands.json
am-build
am-install
docs
inst/doc
/doc/
/Meta/
src/automerge/rust/vendor/
